<!doctype html>
<html class="no-js" ng-app="chart">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Flipster Demo</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=550, initial-scale=1">
    <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap-theme.css">
    <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.css">
     <script src="jquery-3.1.1.js"></script>
    <script src="jquery.flipster.min.js"></script>
    <script src="bootstrap-3.3.7-dist/js/bootstrap.js"></script>
   <script src="angular.js"></script>
    <link rel="stylesheet" href="jquery.flipster.css">
   
  
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.3.1.js"></script>
    
  
    <link rel="stylesheet" href="chart.css">
    <script src="chart.js"></script>
 
    <style>
       
       
       
    </style>
</head>
<body ng-controller="ctrl">

        <nav class="navbar navbar-defalut">
          <div class="container-fluid">
            <div class="navbar-header">
              <img ng-src="{{ profile[0].item }}" id="logo1">
              </div>
                <div class="nav navbar-nav navbar-right">
                <img ng-src="{{ profile[1].item }}" id="logo2">  
                </div>
              
          </div>
        </nav>

      <div class="container-fluid" id="border">
          <div id="manage1">
               
                <span class="pull-right"><a href="#" id="tab1">ME</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span class="pull-right"><a href="#" id="tab2">COMPANY</a></span></span>
            </div>
    
    
    
    
    <div id="hd"><span>
<!--       {{employees[1].EmpId}}-->
        <h3>Manage Employees</h3></span>
        <span>hiDOF.Inc</span>
        
    </div>
    <div id="VA">
        <span><span class="glyphicon glyphicon-list"></span><a href="" ng-click="viewAllEmployees()">View All Employees</a></span>
        <sapn id="find"><a href=""><span class="glyphicon glyphicon-search"></span>Find</a></sapn>
        <div><span>show Terminated Employees<input type="checkbox" checked data-toggle="toggle"></span></div>
    </div>
    
                         
    
    
    
    
<article id="demo-default" class="demo">


 
    <div id="main" >
        <h6>Vice President</h6>
        <img ng-src="{{ profile[2].item }}" style="margin-top:10px; margin-left:242px;">
        <p>Sundar Pichai</p>
        
    </div>
   <div id="line">|</div>
                    
    <div id="coverflow">
    
        <ul class="flip-items">
                         
            <li ng-click="getdata1()">
                
                    
                  
                <div class="ss">
                 <div class="dropdown pull-right">
                 <a class="dropbtn glyphicon glyphicon-cog cogwell dropdown-toggle" data-toggle="dropdown"></a>
                  <div class="dropdown-content">
                    <a href="#" ng-click="viewPersonal()">Personal Profile</a>
                    <a href="#" ng-click="viewWorkInfo()">Work Info</a>
                    <a href="#">Money Related</a>
                       <a href="#">Time Off</a>
                       <a href="#">Benifits</a>
                       <a href="#">Roles</a>
                      <a href="#">E-forms</a>
                      <hr>
                      <a href="#">Extendend Leave</a>
                       <a href="#">Termination</a>

                  </div>
                </div>
                    
                    <h2>{{employees[0].Department}}</h2>
                       <h1>{{employees[0].Position}}</h1>
                    
          
                    

                        
                      
                        
                    
                <img ng-src="{{ profile[3].item }}">
                      <p>{{employees[0].EmployeeName}}</p>
                      <p>{{employees[0].DirectReports}}</p>
                    </div>
    
         
            </li>
          
            <li  ng-click="getdata2()">
                 <div class="ss">
                       <div class="dropdown pull-right">
                 <a class="dropbtn glyphicon glyphicon-cog cogwell dropdown-toggle" data-toggle="dropdown"></a>
                  <div class="dropdown-content">
                    <a href="#">Personal Profile</a>
                    <a href="#">Work Info</a>
                    <a href="#">Money Related</a>
                       <a href="#">Time Off</a>
                       <a href="#">Benifits</a>
                       <a href="#">Roles</a>
                      <a href="#">E-forms</a>
                      <hr>
                      <a href="#">Extendend Leave</a>
                       <a href="#">Termination</a>

                  </div>
                </div>
                      <h2>{{employees[1].Department}}</h2>
                       <h1>{{employees[1].Position}}</h1>
           
                <img ng-src="{{ profile[4].item }}">
                       <p>{{employees[1].EmployeeName}}</p>
                      <p>{{employees[1].DirectReports}}</p>
                </div>
            </li>
            <li ng-click="getdata3()">
                 <div class="ss">
              <div class="dropdown pull-right">
                 <a class="dropbtn glyphicon glyphicon-cog cogwell dropdown-toggle" data-toggle="dropdown"></a>
                  <div class="dropdown-content">
                    <a href="#">Personal Profile</a>
                    <a href="#">Work Info</a>
                    <a href="#">Money Related</a>
                       <a href="#">Time Off</a>
                       <a href="#">Benifits</a>
                       <a href="#">Roles</a>
                      <a href="#">E-forms</a>
                      <hr>
                      <a href="#">Extendend Leave</a>
                       <a href="#">Termination</a>

                  </div>
                </div>
                       <h2>{{employees[2].Department}}</h2>
                       <h1>{{employees[2].Position}}</h1>
              
                <img ng-src="{{ profile[5].item }}" >
                       <p>{{employees[2].EmployeeName}}</p>
                      <p>{{employees[2].DirectReports}}</p>
                </div>
            </li>
            
            <li ng-click="getdata4()">
                 <div class="ss">
                 <div class="dropdown pull-right">
                 <a class="dropbtn glyphicon glyphicon-cog cogwell dropdown-toggle" data-toggle="dropdown"></a>
                  <div class="dropdown-content">
                    <a href="#">Personal Profile</a>
                    <a href="#">Work Info</a>
                    <a href="#">Money Related</a>
                       <a href="#">Time Off</a>
                       <a href="#">Benifits</a>
                       <a href="#">Roles</a>
                      <a href="#">E-forms</a>
                      <hr>
                      <a href="#">Extendend Leave</a>
                       <a href="#">Termination</a>

                  </div>
                </div>
                        <h2>{{employees[3].Department}}</h2>
                       <h1>{{employees[3].Position}}</h1>
                  
                <img ng-src="{{ profile[6].item }}" >
                       <p>{{employees[3].EmployeeName}}</p>
                      <p>{{employees[3].DirectReports}}</p>
                </div>
            </li>
            <li ng-click="getdata5()">
                 <div class="ss">
                <div class="dropdown pull-right">
                 <a class="dropbtn glyphicon glyphicon-cog cogwell dropdown-toggle" data-toggle="dropdown"></a>
                  <div class="dropdown-content">
                    <a href="" ng-click="viewPersonal()">Personal Profile</a>
                    <a href="" ng-click="viewWorkInfo()">Work Info</a>
                    <a href="#">Money Related</a>
                       <a href="#">Time Off</a>
                       <a href="#">Benifits</a>
                       <a href="#">Roles</a>
                      <a href="#">E-forms</a>
                      <hr>
                      <a href="#">Extendend Leave</a>
                       <a href="#">Termination</a>

                  </div>
                </div>
                     <h2>{{employees[2].Department}}</h2>
                       <h1>{{employees[2].Position}}</h1>
               
                  
                <img ng-src="{{ profile[7].item }}" >
                      <p>{{employees[4].EmployeeName}}</p>
                      <p>{{employees[4].DirectReports}}</p>
                </div>
            </li>
            <li ng-click="getdata6()">
                 <div class="ss">
            <div class="dropdown pull-right">
                 <a class="dropbtn glyphicon glyphicon-cog cogwell dropdown-toggle" data-toggle="dropdown"></a>
                      <div class="dropdown-content">
                        <a href="#">Personal Profile</a>
                        <a href="#">Work Info</a>
                        <a href="#">Money Related</a>
                           <a href="#">Time Off</a>
                           <a href="#">Benifits</a>
                           <a href="#">Roles</a>
                          <a href="#">E-forms</a>
                          <hr>
                          <a href="#">Extendend Leave</a>
                           <a href="#">Termination</a>

                      </div>
                    </div>
                       <h2>{{employees[5].Department}}</h2>
                       <h1>{{employees[5].Position}}</h1>
               
                <img ng-src="{{ profile[8].item }}" >
                       <p>{{employees[5].EmployeeName}}</p>
                      <p>{{employees[5].DirectReports}}</p>
                </div>
            </li>
            <li ng-click="getdata7()">
                 <div class="ss">
                      <div class="dropdown pull-right">
                 <a class="dropbtn glyphicon glyphicon-cog cogwell dropdown-toggle" data-toggle="dropdown"></a>
                      <div class="dropdown-content">
                        <a href="#">Personal Profile</a>
                        <a href="#">Work Info</a>
                        <a href="#">Money Related</a>
                           <a href="#">Time Off</a>
                           <a href="#">Benifits</a>
                           <a href="#">Roles</a>
                          <a href="#">E-forms</a>
                          <hr>
                          <a href="#">Extendend Leave</a>
                           <a href="#">Termination</a>

                      </div>
                    </div>
                       <h2>{{employees[6].Department}}</h2>
                       <h1>{{employees[6].Position}}</h1>
                
                <img ng-src="{{ profile[9].item }}" >
                       <p>{{employees[6].EmployeeName}}</p>
                      <p>{{employees[6].DirectReports}}</p>
                </div>
            </li>
            <li ng-click="getdata8()">
                 <div class="ss">
                      <div class="dropdown pull-right">
                 <a class="dropbtn glyphicon glyphicon-cog cogwell dropdown-toggle" data-toggle="dropdown"></a>
                      <div class="dropdown-content">
                        <a href="#">Personal Profile</a>
                        <a href="#">Work Info</a>
                        <a href="#">Money Related</a>
                           <a href="#">Time Off</a>
                           <a href="#">Benifits</a>
                           <a href="#">Roles</a>
                          <a href="#">E-forms</a>
                          <hr>
                          <a href="#">Extendend Leave</a>
                           <a href="#">Termination</a>

                      </div>
                    </div>
                       <h2>{{employees[7].Department}}</h2>
                       <h1>{{employees[7].Position}}</h1>
                
                <img ng-src="{{ profile[10].item }}" >
                       <p>{{employees[8].EmployeeName}}</p>
                      <p>{{employees[8].DirectReports}}</p>
                </div>
            </li>
            <li ng-click="getdata9()">
                 <div class="ss">
                      <div class="dropdown pull-right">
                 <a class="dropbtn glyphicon glyphicon-cog cogwell dropdown-toggle" data-toggle="dropdown"></a>
                      <div class="dropdown-content">
                        <a href="#">Personal Profile</a>
                        <a href="#">Work Info</a>
                        <a href="#">Money Related</a>
                           <a href="#">Time Off</a>
                           <a href="#">Benifits</a>
                           <a href="#">Roles</a>
                          <a href="#">E-forms</a>
                          <hr>
                          <a href="#">Extendend Leave</a>
                           <a href="#">Termination</a>

                      </div>
                    </div>
                       <h2>{{employees[1].Department}}</h2>
                       <h1>{{employees[1].Position}}</h1>
              
                <img ng-src="{{ profile[11].item }}" >
                       <p>{{employees[1].EmployeeName}}</p>
                      <p>{{employees[1].DirectReports}}</p>
                </div>
            </li>
        </ul>
        <div id="p2"><p>|</p></div>
        
    </div>
   
    



</article>     
           
          
 <div id="border2">
  
     
    <section class="row">
      <div class="content">
        
          <ul>
             <li ng-repeat="pic in cart1">
                 
                  <span><img ng-src="{{ pic.item }}" style="width:80px;height:80px;"/></span>
                 
             </li>
           </ul>
          <ul>
             <li ng-repeat="pic in cart1">
                 
                 
                 <span id="names">{{pic.name}}</span> 
             </li>
           </ul>
        
      </div>
     </section>  
  
    </div>
         
    </div>

<script> 
    var coverflow = $("#coverflow").flipster();
   

</script>


</body>
</html>
